INSTITUTION_NAME="University name - instance name"

SCANR_ES_HOST="https://scanr-es-cluster-uri"
SCANR_ES_USER="scanr_es-user"
SCANR_ES_PASSWORD="scanr_es-password"

SVPH_DB_NAME="svp_harvester_db_name"
SVPH_DB_USER="svp_harvester_db_user"
SVPH_DB_PASSWORD="svp_harvester_db_password"

SVP_DB_NAME="sovisuplus_db_name"
SVP_DB_USER="sovisuplus_db_user"
SVP_DB_PASSWORD="sovisuplus_db_password"
SVP_DB_HOST="svp_db_host"
SVP_DB_PORT="svp_db_port"

SVPH_WEB_HOST="svp_harvester_web_host"
SOVISUPLUS_HOST="sovisuplus_host"
HARVESTERS="scanr,hal,openalex,idref"

LDAP_HOST=ldaps://ldap_host
LDAP_BIND_DN='cn=name,ou=admin,dc=my-university,dc=fr'
LDAP_BIND_PASSWORD='ldap_password'

COMPLETE_LDAP_PEOPLE_IDENTIFIERS_FROM_SPREADSHEET=True
COMPLETE_LDAP_STRUCTURE_IDENTIFIERS_FROM_SPREADSHEET=True

RABBITMQ_CONN_ID="rabbitmq_connection_id"
AMQP_HOST="rabbitmq_host"
AMQP_PORT="5672"
AMQP_USER="rabbitmq_user"
AMQP_PASSWORD="rabbitmq_password"

SVP_AMQP_QUEUE_NAME="sovisuplus"
SVP_AMQP_EXCHANGE_NAME="graph"

AMQP_PEOPLE_MESSAGE_PREFIX="event.people.person."
AMQP_STRUCTURES_MESSAGE_PREFIX="event.structures.structure."

CDB_REDIS_CONN_ID="cdb_redis_connection_id"
CDB_REDIS_PORT="6379"
CDB_REDIS_PASSWORD="cdb_redis_password"

CDB_DB_NAME="cdb_db_name"
CDB_DB_USER="cdb_db_user"
CDB_DB_PASSWORD="cdb_db_password"

NEO4J_USER="neo4j_user"
NEO4J_PASSWORD="neo4j_password"

ENABLE_TRAINING_DATA_PIPELINE=0
CTD_ES_INSTANCE_NAME="ctd-es-cluster"
CTD_ES_USER="elastic"
CTD_ES_PASSWORD="ctd-es-password"

KEYCLOAK_ADMIN_PASSWORD="keycloak_admin_password"
KEYCLOAK_DATABASE_USER_PASSWORD="keycloak_db_user_password"
KEYCLOAK_DATABASE_POSTGRES_PASSWORD="keycloak_db_postgres_password"

KEYCLOAK_CLIENT_ID="keycloak_client_id"
KEYCLOAK_CLIENT_SECRET="keycloak_client_secret"
KEYCLOAK_ADDR="http://keycloak_host"
KEYCLOAK_REALM="keycloak_realm"
NEXTAUTH_SECRET="nextauth_secret"

SVP_GRAPHQL_API_KEY="svp_graphql_api_key"

ORCID_URL="https://orcid.org"
ORCID_SCOPES="/authenticate"
ORCID_CLIENT_ID="APP-XXXXXXXXXXXXXXXXX"
ORCID_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"